body{
 text-align: center;
    font-size: 30px;
    background-image: url('../images/z7R1rjT6RhmZdqWbM5hg_R0001139.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
}


h1{
    font-size: 4em;
}