/*
Ciara Andrews
#772843
#7cb2d3
#3eba58
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Pacifico);

a{
    color:#772843;
}
h1{
    font-family: 'Pacifico', cursive;
    color:772843;
}
a{
    color:#7cb2d3;
}
h2{
    color:#7cb2d3
}
.colorsquare{
    width: 100px; 
    height: 100px;
    float: left;
}

.colorwrapper{
    background-color: green;
}

.color1{
    width: 200px;
    height: 200px;
    background-color: #772843
}

.color1:hover{
    color:red;
}
.color2{
    width:200px;
    height: 200px;
    background-color: #7cb2d3
}
.color2:hover{
    color:pink;
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #3eba58
}
.color3:hover{
    color:white;
}


header{
    background-color: #dddddd;
    width: 8000px;
    margin-left: auto;
    margin-right: auto;
}


body{
    font-family: 'Shadows Into Light', cursive;
     background-color: lavender;
        color:gold;
    }
        h1{
            color: pink;
        }
        h1,h2{
            font-family:cursive;
        }
        li{
            color: white;
        }
        a{
            color: gold;
        }
.site-footer a{
    font-size:2em;
    color: green;
}

.site-footer a:hover{
    color: purple;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


