/*
Ciara Andrews
#772843
#7cb2d3
#3eba58
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Pacifico);

a{
    color:#772843;
}
h1{
    font-family: 'Pacifico', cursive;
    color:#772843;
}
a{
    color:#7cb2d3;
}
h2{
    color:#7cb2d3
}
.colorsquare{
    width: 100px; 
    height: 100px;
    float: left;
}

.colorwrapper{
    background-color: green;
}

.color1{
    width: 200px;
    height: 200px;
    background-color: #772843
}

.color1:hover{
    color:red;
}
.color2{
    width:200px;
    height: 200px;
    background-color: #7cb2d3
}
.color2:hover{
    color:pink;
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #3eba58
}
.color3:hover{
    color:white;
}



header{
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px maroon:
}
#header {
    float: left;
    width:500px;
    background-color: white;
    padding: 10px 10px;
    border: 10px solid maroon;
    margin: 10em;
    border-radius: 20px;
}

#sidebar {
    float: right;
    width:250px;
    background-color: #c9c;
    padding: 10px;
    border: 10px solid maroon;
    margin: 2em;
    border-radius: 20px;
}

#footer {
    clear:both;
    background-color: #cc9;
    padding: 5px 10px;
    border: 10px solid maroon;
    border-radius: 20px;
}


body{
    font-family: 'Shadows Into Light', cursive;
     background-image: url('images/upfeathers.png');
        color:yellow;
    }
        h1{
            color: pink;
        }
        h1,h2{
            font-family:cursive;
        }
        li{
            color: white;
        }
        a{
            color: red;
        }
ul{ 
    list-style:none;
    margin: 0;
    padding: 0;
}
li{
    margin: 1em 0;
}
.site-footer a{
    font-size:2em;
    color: green;
}

.site-footer a:hover{
    color: purple;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


